$wide: 1250px;
$desktop: 1150px;
$tablet: 850px;
$mobile: 650px;

@mixin down($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin wide {
  @include down($wide) {
    @content;
  }
}

@mixin desktop {
  @include down($desktop) {
    @content;
  }
}

@mixin tablet {
  @include down($tablet) {
    @content;
  }
}

@mixin mobile {
  @include down($mobile) {
    @content;
  }
}
